app/layouts/about-layout.html

<h1 class="font-orange margin-lr-20px margin-tb-20px">關於我們</h1>
<div class="title-divider"></div>
<div class="about-wrap margin-lr-20px">
  <h5 class="margin-bt-20px font-blue">關於「國立公共資訊圖書館」</h5>
  <p class="about-break font-medium">國立公共資訊圖書館（原國立臺中圖書館，簡稱國資圖，官方網站https://www.nlpi.edu.tw）以持續蒐集、建置、典藏、保存各類數位資源為主要目標，一方面透過建置各式數位典藏平台，提供學校、機關及公益組織內容之儲存、展示，另一方面鼓勵民眾透過網路連結方式閱覽並分享，期能促進公共資訊擷取與保障資訊的通暢利用。</p>
  <h5 class="margin-bt-20px font-blue">關於「圓夢繪本資料庫」</h5>
  <p class="font-medium">圓夢繪本資料庫以「為自己圓一個繪本創作的夢」為主要目標，並以「原創精神」為特色，打造繪本創意作品交流園地與作品展示舞台。100年12月建置上線，初期主要收錄學生繪本作品，103年起擴大收錄地方特色繪本及得獎繪本作品，至今繪本數量超過934種。</p>
  <p class="font-medium">本資料庫繪本提供文字隱藏、有聲朗誦或加註漢語拼音的功能選項，可依需要自選親子共讀資源模式。同時標註適讀年齡並收錄相關教學資源（如著色紙或學習單），提供教師應用於多元教學內容，亦不定期邀請辦理作品展或繪本教學研習課程。</p>
  <p class="font-medium">合作收錄單位如下，歡迎與本館聯繫（<a href="mailto:avedu@nlpi.edu.tw" class="font-blue">avedu@nlpi.edu.tw</a>）洽談典藏事宜。</p>
  <div class="table-responsive margin-bt-20px">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">繪本特色</th>
          <th scope="col">合作單位</th>
          <th scope="col">收錄年度(民國)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row" rowspan="16">學生創作</td>
          <td>明道高級中學</td>
          <td>100年至今</td>
        </tr>
                <tr>
                  <td>國立中興高級中學</td>
                  <td>102年至今</td>
                </tr>
                <tr>
                  <td>臺中市立大墩國民中學</td>
                  <td>100年至今</td>
                </tr>
                <tr>
                  <td>桃園市私立振聲高級中學</td>
                  <td>102年至今</td>
                </tr>
                <tr>
                  <td>朝陽科技大學 師資培育中心</td>
                  <td>103年</td>
                </tr>
                <tr>
                  <td>常春藤高級中學</td>
                  <td>104年至今</td>
                </tr>
                <tr>
                  <td>嘉義縣立竹崎高級中學</td>
                  <td>104年至今</td>
                </tr>
                <tr>
                  <td>臺中教育大學教專學程</td>
                  <td>104年至今</td>
                </tr>
                <tr>
                  <td>臺北市立中崙高級中學</td>
                  <td>105年至今</td>
                </tr>
                <tr>
                  <td>新北市立北大高級中學</td>
                  <td>105年至今</td>
                </tr>
                <tr>
                  <td>臺北市私立靜修女中</td>
                  <td>105年至今</td>
                </tr>
                <tr>
                  <td>國立中壢高級家事商業職業學校</td>
                  <td>105年至今</td>
                </tr>
                <tr>
                  <td>國立雲林科技大學</td>
                  <td>105年至今</td>
                </tr>
                <tr>
                  <td>臺中市立西苑高級中學</td>
                  <td>106年至今</td>
                </tr>
                <tr>
                  <td>新北市立佳林國民中學</td>
                  <td>106年至今</td>
                </tr>
                <tr>
                  <td>國立苑裡高級中學</td>
                  <td>107年至今</td>
                </tr>
        <tr>
          <td scope="row" rowspan="2">地方特色</td>
          <td>雲林縣政府文化處</td>
          <td>103年至今</td>
        </tr>
        <tr>
          <td>斗六市立繪本圖書館</td>
          <td>103年至今</td>
        </tr>
        <tr>
          <td scope="row">優賞作品</td>
          <td>國立臺灣藝術教育館－全國學生圖畫書創作獎</td>
          <td>102年至今</td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="font-medium"><span>備註：學生作品收錄辦法請參考：</span><span>1.國立公共資訊圖書館學生創作繪本數位化典藏計畫作業要點(<a href="https://storybook.nlpi.edu.tw/upload/attach/file1.pdf" class="font-blue">pdf檔</a>)</span><span>2.國立公共資訊圖書館學生創作繪本數位化_申請表(<a href="https://storybook.nlpi.edu.tw/upload/attach/file2.doc" class="font-blue">doc檔</a>、<a href="https://storybook.nlpi.edu.tw/upload/attach/file2.odt" class="font-blue">odt檔</a>)</span><span>3.國立公共資訊圖書館與學校繪本作品數位化合作協議書(<a href="https://storybook.nlpi.edu.tw/upload/attach/file3.doc" class="font-blue">doc檔</a>、<a href="https://storybook.nlpi.edu.tw/upload/attach/file3.odt" class="font-blue">odt檔</a>)</span><span>4.國立公共資訊圖書館「圓夢繪本資料庫-學生創作繪本」著作授權同意書(<a href="https://storybook.nlpi.edu.tw/upload/attach/file4.doc" class="font-blue">doc檔</a>、<a href="https://storybook.nlpi.edu.tw/upload/attach/file4.odt" class="font-blue">odt檔</a>)</span><span>5.國立公共資訊圖書館學生創作繪本數位化典藏計畫_家長同意書(<a href="https://storybook.nlpi.edu.tw/upload/attach/file5.doc" class="font-blue">doc檔</a>、<a href="https://storybook.nlpi.edu.tw/upload/attach/file5.odt" class="font-blue">odt檔</a>)</span><span>6.國立公共資訊圖書館個人資料蒐集處理利用告知暨同意書(<a href="https://storybook.nlpi.edu.tw/upload/attach/file6.doc" class="font-blue">doc檔</a>、<a href="https://storybook.nlpi.edu.tw/upload/attach/file6.odt" class="font-blue">odt檔</a>)</span></p>
</div>

app/pug/layouts/about-layout.pug
h1.font-orange.margin-lr-20px.margin-tb-20px 關於我們
.title-divider
.about-wrap.margin-lr-20px
	h5.margin-bt-20px.font-blue 關於「國立公共資訊圖書館」
	p.about-break.font-medium 國立公共資訊圖書館（原國立臺中圖書館，簡稱國資圖，官方網站https://www.nlpi.edu.tw）以持續蒐集、建置、典藏、保存各類數位資源為主要目標，一方面透過建置各式數位典藏平台，提供學校、機關及公益組織內容之儲存、展示，另一方面鼓勵民眾透過網路連結方式閱覽並分享，期能促進公共資訊擷取與保障資訊的通暢利用。
	h5.margin-bt-20px.font-blue 關於「圓夢繪本資料庫」
	p.font-medium 圓夢繪本資料庫以「為自己圓一個繪本創作的夢」為主要目標，並以「原創精神」為特色，打造繪本創意作品交流園地與作品展示舞台。100年12月建置上線，初期主要收錄學生繪本作品，103年起擴大收錄地方特色繪本及得獎繪本作品，至今繪本數量超過934種。
	p.font-medium 本資料庫繪本提供文字隱藏、有聲朗誦或加註漢語拼音的功能選項，可依需要自選親子共讀資源模式。同時標註適讀年齡並收錄相關教學資源（如著色紙或學習單），提供教師應用於多元教學內容，亦不定期邀請辦理作品展或繪本教學研習課程。
	p.font-medium 合作收錄單位如下，歡迎與本館聯繫（<a href="mailto:avedu@nlpi.edu.tw" class="font-blue">avedu@nlpi.edu.tw</a>）洽談典藏事宜。
	.table-responsive.margin-bt-20px
		table.table
			thead
				tr
					th(scope="col") 繪本特色
					th(scope="col") 合作單位
					th(scope="col") 收錄年度(民國)
			tbody
				tr
					td(scope="row" rowspan="16") 學生創作
					td 明道高級中學
					td 100年至今
				mixin schoolTable(options)
					each option in options
						tr
							td #{option.school}
							td #{option.date}
				+schoolTable([
					{school: '國立中興高級中學', date: '102年至今'},
					{school: '臺中市立大墩國民中學', date: '100年至今'},
					{school: '桃園市私立振聲高級中學', date: '102年至今'},
					{school: '朝陽科技大學 師資培育中心', date: '103年'},
					{school: '常春藤高級中學', date: '104年至今'},
					{school: '嘉義縣立竹崎高級中學', date: '104年至今'},
					{school: '臺中教育大學教專學程', date: '104年至今'},
					{school: '臺北市立中崙高級中學', date: '105年至今'},
					{school: '新北市立北大高級中學', date: '105年至今'},
					{school: '臺北市私立靜修女中', date: '105年至今'},
					{school: '國立中壢高級家事商業職業學校', date: '105年至今'},
					{school: '國立雲林科技大學', date: '105年至今'},
					{school: '臺中市立西苑高級中學', date: '106年至今'},
					{school: '新北市立佳林國民中學', date: '106年至今'},
					{school: '國立苑裡高級中學', date: '107年至今'},
				])
				tr
					td(scope="row" rowspan="2") 地方特色
					td 雲林縣政府文化處
					td 103年至今
				tr
					td 斗六市立繪本圖書館
					td 103年至今
				tr
					td(scope="row") 優賞作品
					td 國立臺灣藝術教育館－全國學生圖畫書創作獎
					td 102年至今
	p.font-medium
		span 備註：學生作品收錄辦法請參考：
		span 1.國立公共資訊圖書館學生創作繪本數位化典藏計畫作業要點(<a href="https://storybook.nlpi.edu.tw/upload/attach/file1.pdf" class="font-blue">pdf檔</a>)
		span 2.國立公共資訊圖書館學生創作繪本數位化_申請表(<a href="https://storybook.nlpi.edu.tw/upload/attach/file2.doc" class="font-blue">doc檔</a>、<a href="https://storybook.nlpi.edu.tw/upload/attach/file2.odt" class="font-blue">odt檔</a>)
		span 3.國立公共資訊圖書館與學校繪本作品數位化合作協議書(<a href="https://storybook.nlpi.edu.tw/upload/attach/file3.doc" class="font-blue">doc檔</a>、<a href="https://storybook.nlpi.edu.tw/upload/attach/file3.odt" class="font-blue">odt檔</a>)
		span 4.國立公共資訊圖書館「圓夢繪本資料庫-學生創作繪本」著作授權同意書(<a href="https://storybook.nlpi.edu.tw/upload/attach/file4.doc" class="font-blue">doc檔</a>、<a href="https://storybook.nlpi.edu.tw/upload/attach/file4.odt" class="font-blue">odt檔</a>)
		span 5.國立公共資訊圖書館學生創作繪本數位化典藏計畫_家長同意書(<a href="https://storybook.nlpi.edu.tw/upload/attach/file5.doc" class="font-blue">doc檔</a>、<a href="https://storybook.nlpi.edu.tw/upload/attach/file5.odt" class="font-blue">odt檔</a>)
		span 6.國立公共資訊圖書館個人資料蒐集處理利用告知暨同意書(<a href="https://storybook.nlpi.edu.tw/upload/attach/file6.doc" class="font-blue">doc檔</a>、<a href="https://storybook.nlpi.edu.tw/upload/attach/file6.odt" class="font-blue">odt檔</a>)
