app/pug/layouts/history-template.pug
h1.font-orange.margin-lr-20px.margin-tb-20px 瀏覽紀錄
.title-divider
.index-books.history-books.margin-bt-20px
	.index-books-wrap
		include ../components/book-card.pug
		include ../components/book-card-chi.pug
		include ../components/book-card-chi.pug
		include ../components/book-card.pug
		include ../components/book-card-chi.pug
		include ../components/book-card.pug
		include ../components/book-card-chi.pug
		include ../components/book-card.pug
		include ../components/book-card.pug
		include ../components/book-card.pug

app/layouts/history-template.html

<h1 class="font-orange margin-lr-20px margin-tb-20px">瀏覽紀錄</h1>
<div class="title-divider"></div>
<div class="index-books history-books margin-bt-20px">
  <div class="index-books-wrap"><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-blue">英</p><img class="border-bottom border-gray" src="images/book1.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-orange">中</p><img class="border-bottom border-gray" src="images/book2.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-orange">中</p><img class="border-bottom border-gray" src="images/book2.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-blue">英</p><img class="border-bottom border-gray" src="images/book1.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-orange">中</p><img class="border-bottom border-gray" src="images/book2.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-blue">英</p><img class="border-bottom border-gray" src="images/book1.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-orange">中</p><img class="border-bottom border-gray" src="images/book2.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-blue">英</p><img class="border-bottom border-gray" src="images/book1.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-blue">英</p><img class="border-bottom border-gray" src="images/book1.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-blue">英</p><img class="border-bottom border-gray" src="images/book1.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a></div>
</div>
