app/layouts/playbook-layout.html

<div class="playbook">
  <div class="top-menu top-tool">
    <button class="top-tool_zoom bg-none no-border pd-lr-1em" id="btnZoomin" title="放大"><img src="images/zoom-in.svg"/></button>
    <button class="top-tool_zoom bg-none no-border pd-lr-1em" id="btnZoomout" title="縮小"><img src="images/zoom-out.svg"/></button>
    <button class="top-tool_speak bg-none no-border pd-lr-1em active" id="btnSpeak" title="旁白開關"><img src="images/speak.svg"/></button>
    <button class="top-tool_sound bg-none no-border pd-lr-1em active" id="btnSound" title="音樂開關"><img src="images/speaker.svg"/></button>
    <button class="top-tool_print bg-none no-border pd-lr-1em" id="btnPrint" title="列印"><img src="images/print.svg"/></button>
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="o1" value="" name="langSelect" checked="checked"/>
              <p class="select-box__input-text">無</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="o2" value="text_ch" name="langSelect" checked="checked"/>
              <p class="select-box__input-text">中文</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="o3" value="text_en" name="langSelect" checked="checked"/>
              <p class="select-box__input-text">英文</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="o4" value="" name="langSelect" checked="checked"/>
              <p class="select-box__input-text">中文+拼注音</p>
            </div><img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
          </div>
          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="o1" aria-hidden="aria-hidden">無</label>
            </li>
            <li>
              <label class="select-box__option" for="o2" aria-hidden="aria-hidden">中文</label>
            </li>
            <li>
              <label class="select-box__option" for="o3" aria-hidden="aria-hidden">英文</label>
            </li>
            <li>
              <label class="select-box__option" for="o4" aria-hidden="aria-hidden">中文+拼注音</label>
            </li>
          </ul>
        </div>
  </div>
  <div class="picHolder" style="width: auto; min-height: 300px;position: relative">
    <div id="wait_block" style="position:relative; width:100px; height:100px; top:100px; margin:0 auto; position: absolute; left: 0; right: 0;"><img src="images/loading.gif"><br>資料下載中...</div>
    <div id="page_block_container" style="position:relative; overflow:hidden; margin:0 auto; border:0;">
      <div id="page_block" style="position:relative; overflow:hidden; margin:0 auto; border:0;">
        <div class="preload-btn">
          <button class="player-control_preload bg-none no-border pd-lr-1em" id="btnPreload" title="單跨頁切換" style="display: block!important;">
            <p>同意載入音樂</p>
          </button>
        </div>
        <div id="div_left" style="position:relative; float:left;margin:0px;"><img id="page_left_img" src="images/transparent.png" style="background-color:#ffffff; z-index:10; margin: 0px;display:block;"/><img id="page_left_text" src="images/transparent.png" style="position:absolute;z-index:11; margin: 0px; left:0px; top:0px;display:block;"/></div>
        <div id="div_right" style="position:relative; float:left;margin:0px;"><img id="page_right_img" src="images/transparent.png" style="background-color:#ffffff; z-index:10; margin: 0px;display:block;"/><img id="page_right_text" src="images/transparent.png" style="position:absolute;z-index:11; margin: 0px; left:0px; top:0px;display:block;"/></div>
      </div>
    </div>
  </div>
  <div class="bottom-menu player-control pd-1em">
    <button class="player-control_fullscreen bg-none no-border pd-lr-1em" id="btnFullscreen" title="全螢幕切換">
      <p><img src="images/fullscreen.svg"/></p>
    </button>
    <button class="player-control_page-mode bg-none no-border pd-lr-1em" id="btnPageMode" title="單跨頁切換">
      <p>跨頁<span>Spread Page</span></p>
    </button>
    <button class="player-control_prev-page bg-none no-border pd-lr-1em" id="btnPrevious" title="上一頁">
      <p>上一頁<span>Previous Page</span></p>
    </button>
    <button class="player-control_next-page bg-none no-border pd-lr-1em" id="btnNext" title="下一頁">
      <p>下一頁<span>Next Page</span></p>
    </button>
    <button class="player-control_first-page bg-none no-border pd-lr-1em" id="btnFirst" title="第一頁">
      <p>第一頁<span>First Page</span></p>
    </button>
    <button class="player-control_last-page bg-none no-border pd-lr-1em" id="btnLast" title="最末頁">
      <p>最末頁<span>Last Page</span></p>
    </button>
    <button class="player-control_autoplay bg-none no-border pd-lr-1em" id="btnPlay" title="自動播放開關">
      <p><img src="images/play.svg"/></p>
    </button>
  </div><span id="sound_block"></span><span id="bgmusic_block"></span><span id="subtitle_block"></span>
</div>

app/pug/layouts/playbook-layout.pug
.playbook
	.top-menu.top-tool
		button#btnZoomin.top-tool_zoom.bg-none.no-border.pd-lr-1em(title="放大")
			img(src="images/zoom-in.svg")
		button#btnZoomout.top-tool_zoom.bg-none.no-border.pd-lr-1em(title="縮小")
			img(src="images/zoom-out.svg")
		button#btnSpeak.top-tool_speak.bg-none.no-border.pd-lr-1em.active(title="旁白開關")
			img(src="images/speak.svg")
		button#btnSound.top-tool_sound.bg-none.no-border.pd-lr-1em.active(title="音樂開關")
			img(src="images/speaker.svg")
		button#btnPrint.top-tool_print.bg-none.no-border.pd-lr-1em(title="列印")
			img(src="images/print.svg")
		mixin SelectBox(name, options)
			.select-box
				.select-box__current(tabindex="1")
					each option in options
						.select-box__value
							input.select-box__input(type="radio" id=option.id value=option.value name=name checked)
							p.select-box__input-text #{option.name}
					img.select-box__icon(src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
				ul.select-box__list
					each option in options
						li
							label.select-box__option(for=option.id aria-hidden) #{option.name}

		+SelectBox('langSelect', [
			{name: '無', id: 'o1', value: ''}, 
			{name: '中文', id: 'o2', value: 'text_ch'}, 
			{name: '英文', id: 'o3', value: 'text_en'},
			{name: '中文+拼注音', id: 'o4', value: ''}
		])
	//- .image-placeholder.pd-tb-1em.pd-lr-1em
		.left-img.empty-placeholder
			img#left-img
			img#left-img-text
		.right-img
			img#right-img
			img#right-img-text
	.picHolder(style='width: auto; min-height: 300px;position: relative')
		#wait_block(style='position:relative; width:100px; height:100px; top:100px; margin:0 auto; position: absolute; left: 0; right: 0;')
			<img src="images/loading.gif"><br>資料下載中...
		#page_block_container(style='position:relative; overflow:hidden; margin:0 auto; border:0;')
			#page_block(style='position:relative; overflow:hidden; margin:0 auto; border:0;')
				.preload-btn
					button#btnPreload.player-control_preload.bg-none.no-border.pd-lr-1em(title="單跨頁切換" style="display: block!important;")
						p 同意載入音樂
				#div_left(style='position:relative; float:left;margin:0px;')
					img#page_left_img(src='images/transparent.png' style='background-color:#ffffff; z-index:10; margin: 0px;display:block;')
					img#page_left_text(src='images/transparent.png' style='position:absolute;z-index:11; margin: 0px; left:0px; top:0px;display:block;')
				#div_right(style='position:relative; float:left;margin:0px;')
					img#page_right_img(src='images/transparent.png' style='background-color:#ffffff; z-index:10; margin: 0px;display:block;')
					img#page_right_text(src='images/transparent.png' style='position:absolute;z-index:11; margin: 0px; left:0px; top:0px;display:block;')
	.bottom-menu.player-control.pd-1em
		button#btnFullscreen.player-control_fullscreen.bg-none.no-border.pd-lr-1em(title="全螢幕切換")
			p
				img(src="images/fullscreen.svg")
		button#btnPageMode.player-control_page-mode.bg-none.no-border.pd-lr-1em(title="單跨頁切換")
			p 跨頁
				span Spread Page
		button#btnPrevious.player-control_prev-page.bg-none.no-border.pd-lr-1em(title="上一頁")
			p 上一頁
				span Previous Page
		button#btnNext.player-control_next-page.bg-none.no-border.pd-lr-1em(title="下一頁")
			p 下一頁
				span Next Page
		button#btnFirst.player-control_first-page.bg-none.no-border.pd-lr-1em(title="第一頁")
			p 第一頁
				span First Page
		button#btnLast.player-control_last-page.bg-none.no-border.pd-lr-1em(title="最末頁")
			p 最末頁
				span Last Page
		button#btnPlay.player-control_autoplay.bg-none.no-border.pd-lr-1em(title="自動播放開關")
			p
				img(src="images/play.svg")
	span#sound_block
	span#bgmusic_block
	span#subtitle_block
