app/layouts/playbook-layout2.html

<div class="wrapper bgcover playbook" style="max-width:100%;">
  <div class="topMenu"><a class="top-tool_zoom bg-none no-border pd-lr-1em" id="btnZoomin" href="#" title="放大"><img src="images/zoom-in.svg"/></a><a class="top-tool_zoom bg-none no-border pd-lr-1em" id="btnZoomout" href="#" title="縮小"><img src="images/zoom-out.svg"/></a><a class="top-tool_print bg-none no-border pd-lr-1em" id="btnPrint" href="#" title="列印"><img src="images/print.svg"/></a><a class="top-tool_speak bg-none no-border pd-lr-1em" id="btnDubbling" title="旁白開關"><img src="images/speak.svg"/></a>
    <button class="top-tool_sound bg-none no-border pd-lr-1em" id="btnMusic" title="音樂開關"><img src="images/speaker.svg"/></button>
    <div class="langSelect toolmenu"><span>語言選擇</span>
      <div class="selectStyle shorterSelect">
        <select name="text">
          <option value="none">無</option>
          <option value="text_en" selected="">英文</option>
          <option value="text_ch" selected="">中文</option>
          <option value="text_py">中文+拼注音</option>
        </select>
      </div>
    </div>
  </div>
  <div class="picHolder" style="width: auto;">
    <div id="page_block_container" style="position:relative; overflow:hidden; margin:0 auto; border:0;">
      <div id="page_block" style="position:relative; overflow:hidden; margin:0 auto; border:0;">
        <div id="wait_block" style="position:relative; width:100px; height=100px; top:100px; margin:0 auto;"></div>
        <div id="div_left" style="position:relative; float:left;margin:0px;"><img id="page_left_img" src="images/transparent.png" style="background-color:#ffffff; z-index:10; margin: 0px;"/><img id="page_left_text" src="images/transparent.png" style="position:absolute;z-index:11; margin: 0px; left:0px; top:0px;"/></div>
        <div id="div_right" style="position:relative; float:left;margin:0px;"><img id="page_right_img" src="images/transparent.png" style="background-color:#ffffff; z-index:10; margin: 0px;"/><img id="page_right_text" src="images/transparent.png" style="position:absolute;z-index:11; margin: 0px; left:0px; top:0px;"/></div>
      </div>
    </div>
  </div>
</div>
<div class="bottomMenu player_control"><a class="toolmenu" id="btnPreload" href="#" title="同意載入音樂">同意仔入音樂</a><a class="toolmenu" id="btnStart" href="#" title="開始播放">開始播放</a><a class="player-control_fullscreen bg-none no-border pd-lr-1em" id="btnFullscreen" href="#" title="全螢幕切換"><img src="images/fullscreen.svg"/></a><a class="player-control_page-mode bg-none no-border pd-lr-1em" id="btnPageMode" href="#" title="單跨頁切換">
    <p>跨頁</p></a><a class="player-control_first-page bg-none no-border pd-lr-1em" id="btnFirst" href="#" title="第一頁">
    <p>第一頁</p></a><a class="player-control_prev-page bg-none no-border pd-lr-1em" id="btnPrevious" href="#" title="上一頁">
    <p>上一頁</p></a><a class="player-control_next-page bg-none no-border pd-lr-1em" id="btnNext" href="#" title="下一頁">
    <p>下一頁</p></a><a class="player-control_last-page bg-none no-border pd-lr-1em" id="btnLast" href="#" title="最末頁">
    <p>最末頁</p></a><a class="player-control_autoplay bg-none no-border pd-lr-1em" id="btnPlay" href="#" title="自動播放開關"><img src="images/play.svg"/></a></div><span id="sound_block"></span><span id="bgmusic_block"></span><span id="subtitle_block"></span>
<form id="fp" method="post" action="https://storybook.nlpi.edu.tw/book/print_page" target="print_win"></form>

app/pug/layouts/playbook-layout2.pug
.wrapper.bgcover.playbook(style='max-width:100%;')
  .topMenu
    a#btnZoomin.top-tool_zoom.bg-none.no-border.pd-lr-1em(href='#' title='放大')
      img(src='images/zoom-in.svg')
    a#btnZoomout.top-tool_zoom.bg-none.no-border.pd-lr-1em(href='#' title='縮小')
      img(src='images/zoom-out.svg')
    a#btnPrint.top-tool_print.bg-none.no-border.pd-lr-1em(href='#' title='列印')
      img(src='images/print.svg')
    a#btnDubbling.top-tool_speak.bg-none.no-border.pd-lr-1em(title="旁白開關")
      img(src="images/speak.svg")
    button#btnMusic.top-tool_sound.bg-none.no-border.pd-lr-1em(title="音樂開關")
      img(src="images/speaker.svg")
    .langSelect.toolmenu
      span 語言選擇
      .selectStyle.shorterSelect
        select(name='text')
          option(value='none') 無
          option(value='text_en' selected='') 英文
          option(value='text_ch' selected='') 中文
          option(value='text_py') 中文+拼注音
  .picHolder(style='width: auto;')
    #page_block_container(style='position:relative; overflow:hidden; margin:0 auto; border:0;')
      #page_block(style='position:relative; overflow:hidden; margin:0 auto; border:0;')
        #wait_block(style='position:relative; width:100px; height=100px; top:100px; margin:0 auto;')
        #div_left(style='position:relative; float:left;margin:0px;')
          img#page_left_img(src='images/transparent.png' style='background-color:#ffffff; z-index:10; margin: 0px;')
          img#page_left_text(src='images/transparent.png' style='position:absolute;z-index:11; margin: 0px; left:0px; top:0px;')
        #div_right(style='position:relative; float:left;margin:0px;')
          img#page_right_img(src='images/transparent.png' style='background-color:#ffffff; z-index:10; margin: 0px;')
          img#page_right_text(src='images/transparent.png' style='position:absolute;z-index:11; margin: 0px; left:0px; top:0px;')
.bottomMenu.player_control
  a#btnPreload.toolmenu(href='#' title='同意載入音樂') 同意仔入音樂
  a#btnStart.toolmenu(href='#' title='開始播放') 開始播放
  a#btnFullscreen.player-control_fullscreen.bg-none.no-border.pd-lr-1em(href='#' title='全螢幕切換')
    img(src='images/fullscreen.svg')
  a#btnPageMode.player-control_page-mode.bg-none.no-border.pd-lr-1em(href='#' title='單跨頁切換')
    p 跨頁
  a#btnFirst.player-control_first-page.bg-none.no-border.pd-lr-1em(href='#' title='第一頁')
    p 第一頁
  a#btnPrevious.player-control_prev-page.bg-none.no-border.pd-lr-1em(href='#' title='上一頁')
    p 上一頁
  a#btnNext.player-control_next-page.bg-none.no-border.pd-lr-1em(href='#' title='下一頁')
    p 下一頁
  a#btnLast.player-control_last-page.bg-none.no-border.pd-lr-1em(href='#' title='最末頁')
    p 最末頁
  a#btnPlay.player-control_autoplay.bg-none.no-border.pd-lr-1em(href='#' title='自動播放開關')
    img(src="images/play.svg")
span#sound_block
span#bgmusic_block
span#subtitle_block
form#fp(method='post' action='https://storybook.nlpi.edu.tw/book/print_page' target='print_win')
