app/pug/base/index-layout.pug
doctype html
html.no-js
  head
    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title 圓夢繪本
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(property='og:site_name', content='')
      meta(property='og:type', content='website')
      meta(property='og:title', content='')
      meta(property='og:url', content='')
      meta(property='og:image', content='')
      meta(property='og:description', content='')
      <meta name="apple-mobile-web-app-title" content="">
      <meta name="application-name" content="">
      <meta name="theme-color" content="#ffffff">
      <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
      <link rel="manifest" href="/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/bootstrap-4-navbar.min.js')
      script(src='js/app.js')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,500,700')
      link(rel='stylesheet', href='https://fonts.googleapis.com/earlyaccess/notosanstc.css')
      <link href="https://fonts.googleapis.com/css?family=Buenard:400,700" rel="stylesheet">
      link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css", integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", crossorigin="anonymous")
      link(rel='stylesheet', href='css/bootstrap-reboot.css')
      link(rel='stylesheet', href='css/bootstrap.css')
      link(rel='stylesheet', href='css/jquery-ui.css')
      link(rel='stylesheet', href='css/bootstrap-4-navbar.css')
      link(rel='stylesheet', href='css/pagination.css')
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
      link(rel='stylesheet', href='css/styles.css')
    block styles
    block script

  body
    .wrapper
      a#back-to-top(href="#")
        span
      .main-logo
        a(href="index.html")
          img(src="images/logo.png")
      .left-menu
        block header
          include ../components/header.pug
        block footer

      block main
        block content-wrapper
          block content-title
          block main-content
        block bottom-script

app/base/index-layout.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>圓夢繪本</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content=""><meta name="apple-mobile-web-app-title" content="">
<meta name="application-name" content="">
<meta name="theme-color" content="#ffffff">
<link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-4-navbar.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css"><link href="https://fonts.googleapis.com/css?family=Buenard:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/bootstrap-4-navbar.css">
    <link rel="stylesheet" href="css/pagination.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="wrapper"><a id="back-to-top" href="#"><span></span></a>
      <div class="main-logo"><a href="index.html"><img src="images/logo.png"></a></div>
      <div class="left-menu">
        <div class="menu-aside">
          <nav class="header-wrap navbar navbar-light navbar-expand-lg btco-hover-menu pd-1em flex-column">
            <div class="logo margin-bt-20px"><a href="index.html"><img src="images/logo.png"></a></div>
            <div class="w-100" id="navbarNav">
              <ul class="nav flex-column w-100">
                <li class="nav-item accordion w-100" id="accordionNav">
                  <div id="navOne">
                    <p class="accordion-title no-bt-margin">
                      <button class="btn btn-link font-black no-border font-medium w-100 align-left acc-open" type="button" data-toggle="collapse" data-target="#menuOne" aria-expanded="true" aria-controls="menuOne">繪本瀏覽</button>
                    </p>
                  </div>
                  <div class="sub-menu collapse show" id="menuOne" aria-labelledby="navOne" data-parent="#accordionNav">
                    <div class="accordion" id="accordionSubMenu">
                      <div id="subNavOne">
                        <p class="accordion-subtitle no-bt-margin">
                          <button class="btn btn-link font-black no-border" type="button" data-toggle="collapse" data-target="#subMenuOne" aria-expanded="true" aria-controls="subMenuOne">依繪本特色</button>
                        </p>
                      </div>
                      <div class="collapse show" id="subMenuOne" aria-labelledby="subNavOne" data-parent="#accordionSubMenu">
                        <div class="accordionMenu"><a class="font-black" href="all-books-filter.html">學生創作</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">地方特色</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">優賞作品</a></div>
                      </div>
                      <div id="subNavTwo">
                        <p class="accordion-subtitle no-bt-margin">
                          <button class="btn btn-link font-black no-border collapsed" type="button" data-toggle="collapse" data-target="#subMenuTwo" aria-expanded="false" aria-controls="subMenuTwo">依繪本主題</button>
                        </p>
                      </div>
                      <div class="collapse" id="subMenuTwo" aria-labelledby="subNavTwo" data-parent="#accordionSubMenu">
                        <div class="accordionMenu"><a class="font-black" href="#">人權教育</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">健康與體育</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">多元文化教育</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">家政教育</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">性別平等</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">數學</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">環境教育</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">生活</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">生涯發展教育</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">社會</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">綜合活動</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">自然科學</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">英文</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">藝術與人文</a></div>
                      </div>
                      <div id="subNavThree">
                        <p class="accordion-subtitle no-bt-margin">
                          <button class="btn btn-link font-black no-border collapsed" type="button" data-toggle="collapse" data-target="#subMenuThree" aria-expanded="false" aria-controls="subMenuThree">依適讀年齡</button>
                        </p>
                      </div>
                      <div class="collapse" id="subMenuThree" aria-labelledby="subNavThree" data-parent="#accordionSubMenu">
                        <div class="accordionMenu"><a class="font-black" href="#">0-6歲</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">7-9歲</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">10-12歲</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">13-15歲</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">16歲以上</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">全齡適用</a></div>
                      </div>
                      <div id="subNavFour">
                        <p class="accordion-subtitle no-bt-margin">
                          <button class="btn btn-link font-black no-border collapsed" type="button" data-toggle="collapse" data-target="#subMenuFour" aria-expanded="false" aria-controls="subMenuFour">依語言</button>
                        </p>
                      </div>
                      <div class="collapse" id="subMenuFour" aria-labelledby="subNavFour" data-parent="#accordionSubMenu">
                        <div class="accordionMenu"><a class="font-black" href="#">正體中文</a></div>
                        <div class="accordionMenu"><a class="font-black" href="#">英文</a></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-item w-100"><a class="font-black nav-link font-small" href="history.html">瀏覽紀錄</a></li>
                <li class="nav-item w-100"><a class="font-black nav-link font-small" href="newslist.html">公告訊息</a></li>
                <li class="nav-item w-100"><a class="font-black nav-link font-small" href="faq.html">常見問題</a></li>
                <li class="nav-item w-100"><a class="font-black nav-link font-small" href="about.html">關於我們</a></li>
              </ul>
              <div class="form-inline">
                <input class="form-control w-100 margin-bt-10px" type="search" placeholder="請輸入關鍵字" aria-label="Search">
                <button class="btn nav-search-btn bg-orange border-orange w-100 font-white" type="button">搜尋</button>
              </div>
              <div class="award-img margin-tb-20px"><img src="images/award.jpg"></div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>
