app/components/all-books-filter-title-card.html

<div class="card book-card margin-lr-10px margin-bt-20px">
  <p class="book-lang font-white font-medium bg-orange">中</p><a href="book-single.html"><img class="border-bottom border-gray" src="images/book2.jpg"/></a>
  <div class="card-body">
    <p class="work-type bg-orange font-white pd-pill margin-bt-10px pill-radius bg-orange">學生創作</p><a class="card-title font-red font-large font-s-medium" href="#">壞脾氣的蕾蕾</a>
    <p class="work-author font-small">王筠涵，高鈺婷</p>
    <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
    <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">家政教育</a></span></p>
    <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">明道中學(12年級)</a></span></p>
    <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
    <p class="work-des"><span>指導老師</span><span>|</span><span>莊玉鈴</span></p>
    <p class="work-des"><span>上架時間</span><span>|</span><span>2012-11-03</span></p>
    <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本106,472次 ，動畫108,357次</span></p>
    <div class="book-links"><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="#">閱讀繪本</a><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="" onclick="openWindow('video.html');">看動畫</a></div>
  </div>
</div>
<div class="card book-card margin-lr-10px margin-bt-20px">
  <p class="book-lang font-white font-medium bg-orange">中</p><a href="book-single.html"><img class="border-bottom border-gray" src="images/book2.jpg"/></a>
  <div class="card-body">
    <p class="work-type bg-orange font-white pd-pill margin-bt-10px pill-radius bg-orange">學生創作</p><a class="card-title font-red font-large font-s-medium" href="#">我髒髒的手</a>
    <p class="work-author font-small">黃閔萱</p>
    <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
    <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">健康與體育</a></span></p>
    <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">明道中學(11年級)</a></span></p>
    <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
    <p class="work-des"><span>指導老師</span><span>|</span><span>莊玉鈴</span></p>
    <p class="work-des"><span>上架時間</span><span>|</span><span>2012-11-03</span></p>
    <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本106,472次</span></p>
    <div class="book-links"><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="#">閱讀繪本</a><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="" onclick="openWindow('video.html');">看動畫</a></div>
  </div>
</div>
<div class="card book-card margin-lr-10px margin-bt-20px">
  <p class="book-lang font-white font-medium bg-blue">英</p><a href="book-single.html"><img class="border-bottom border-gray" src="images/book2.jpg"/></a>
  <div class="card-body">
    <p class="work-type bg-orange font-white pd-pill margin-bt-10px pill-radius bg-orange">地方特色</p><a class="card-title font-red font-large font-s-medium" href="#">Remember Me</a>
    <p class="work-author font-small">Kai-Ting Siao，Siew-Feng Thiah</p>
    <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
    <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">英文</a></span></p>
    <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">斗六繪本館</a></span></p>
    <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
    <p class="work-des"><span>指導老師</span><span>|</span><span>莊玉鈴</span></p>
    <p class="work-des"><span>上架時間</span><span>|</span><span>2014-10-01</span></p>
    <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本837次</span></p>
    <div class="book-links"><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="#">閱讀繪本</a><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="" onclick="openWindow('video.html');">看動畫</a></div>
  </div>
</div>
<div class="card book-card margin-lr-10px margin-bt-20px">
  <p class="book-lang font-white font-medium bg-blue">英</p><a href="book-single.html"><img class="border-bottom border-gray" src="images/book2.jpg"/></a>
  <div class="card-body">
    <p class="work-type bg-orange font-white pd-pill margin-bt-10px pill-radius bg-orange">學生創作</p><a class="card-title font-red font-large font-s-medium" href="#">Where? Where? Where Are My Friends?</a>
    <p class="work-author font-small">韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜</p>
    <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
    <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">英文</a></span></p>
    <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">國立苑裡高級中學(二)</a></span></p>
    <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
    <p class="work-des"><span>指導老師</span><span>|</span><span>鄭孟淳、紀柔宇、林佳誼</span></p>
    <p class="work-des"><span>上架時間</span><span>|</span><span>2018-12-01</span></p>
    <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本176次</span></p>
    <div class="book-links"><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="#">閱讀繪本</a><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="" onclick="openWindow('video.html');">看動畫</a></div>
  </div>
</div>
<div class="card book-card margin-lr-10px margin-bt-20px">
  <p class="book-lang font-white font-medium bg-orange">中</p><a href="book-single.html"><img class="border-bottom border-gray" src="images/book2.jpg"/></a>
  <div class="card-body">
    <p class="work-type bg-orange font-white pd-pill margin-bt-10px pill-radius bg-orange">優賞作品</p><a class="card-title font-red font-large font-s-medium" href="#">仁仁愛公園</a>
    <p class="work-author font-small">高德瑋</p>
    <p class="work-des"><span>語言</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">正體中文</a></span></p>
    <p class="work-des"><span>主題</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">環境教育</a></span></p>
    <p class="work-des"><span>來源</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">臺灣藝術教育館</a></span></p>
    <p class="work-des"><span>適讀年齡</span><span>|</span><span><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">0-6歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">7-9歲</a><a class="bg-light-green font-black pd-sm-pill pill-radius pill-border" href="#">10-12歲</a></span></p>
    <p class="work-des"><span>指導老師</span><span>|</span><span>鄭孟淳、紀柔宇、林佳誼</span></p>
    <p class="work-des"><span>上架時間</span><span>|</span><span>2018-12-01</span></p>
    <p class="work-des"><span>總點閱率</span><span>|</span><span>繪本176次</span></p>
    <div class="book-links"><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="#">閱讀繪本</a><a class="bg-light-orange font-white pd-pill font-large pill-radius" href="" onclick="openWindow('video.html');">看動畫</a></div>
  </div>
</div>

app/pug/components/all-books-filter-title-card.pug
mixin bookCard(options)
	each option in options
		.card.book-card.margin-lr-10px.margin-bt-20px
			p.book-lang.font-white.font-medium(class=option.langBG) #{option.lang}
			a(href="book-single.html")
				img(src="images/book2.jpg").border-bottom.border-gray
			.card-body
				p.work-type.bg-orange.font-white.pd-pill.margin-bt-10px.pill-radius(class=option.typeBG) #{option.type}
				a(href="#").card-title.font-red.font-large.font-s-medium #{option.title}
				p.work-author.font-small #{option.author}
				p.work-des
					span 語言
					span |
					span
						a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border #{option.bookLang}
				p.work-des
					span 主題
					span |
					span
						a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border #{option.theme}
				p.work-des
					span 來源
					span |
					span
						a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border #{option.source}
				p.work-des
					span 適讀年齡
					span |
					span
						a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border #{option.age}
						a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border #{option.age2}
						a(href="#").bg-light-green.font-black.pd-sm-pill.pill-radius.pill-border #{option.age3}
				p.work-des
					span 指導老師
					span |
					span #{option.teacher}
				p.work-des
					span 上架時間
					span |
					span #{option.time}
				p.work-des
					span 總點閱率
					span |
					span #{option.clicks}
				.book-links
					a(href="#").bg-light-orange.font-white.pd-pill.font-large.pill-radius 閱讀繪本
					a(href="" onclick="openWindow('video.html');").bg-light-orange.font-white.pd-pill.font-large.pill-radius 看動畫
+bookCard([
	{langBG: 'bg-orange', lang: '中', typeBG: 'bg-orange', type: '學生創作', title: '壞脾氣的蕾蕾', author: '王筠涵，高鈺婷', bookLang: '正體中文', theme: '家政教育', age: '0-6歲', age2: '7-9歲', age3: '10-12歲', source: '明道中學(12年級)', teacher: '莊玉鈴', time: '2012-11-03', clicks: '繪本106,472次 ，動畫108,357次'},{langBG: 'bg-orange', lang: '中', typeBG: 'bg-orange', type: '學生創作', title: '我髒髒的手', author: '黃閔萱', bookLang: '正體中文', theme: '健康與體育', age: '0-6歲', age2: '7-9歲', age3: '10-12歲', source: '明道中學(11年級)', teacher: '莊玉鈴', time: '2012-11-03', clicks: '繪本106,472次'},{langBG: 'bg-blue', lang: '英', typeBG: 'bg-orange', type: '地方特色', title: 'Remember Me', author: 'Kai-Ting Siao，Siew-Feng Thiah', bookLang: '正體中文', theme: '英文', age: '0-6歲', age2: '7-9歲', age3: '10-12歲', source: '斗六繪本館', teacher: '莊玉鈴', time: '2014-10-01', clicks: '繪本837次'},{langBG: 'bg-blue', lang: '英', typeBG: 'bg-orange', type: '學生創作', title: 'Where? Where? Where Are My Friends?', author: '韋嫻亭，江秀玲，陳宥禎，黃子懿，王勤之，謝泓紜', bookLang: '正體中文', theme: '英文', age: '0-6歲', age2: '7-9歲', age3: '10-12歲', source: '國立苑裡高級中學(二)', teacher: '鄭孟淳、紀柔宇、林佳誼', time: '2018-12-01', clicks: '繪本176次'},{langBG: 'bg-orange', lang: '中', typeBG: 'bg-orange', type: '優賞作品', title: '仁仁愛公園', author: '高德瑋', bookLang: '正體中文', theme: '環境教育', age: '0-6歲', age2: '7-9歲', age3: '10-12歲', source: '臺灣藝術教育館', teacher: '鄭孟淳、紀柔宇、林佳誼', time: '2018-12-01', clicks: '繪本176次'}
])
