app/pug/components/all-books-filter.pug
button.filter-button.font-white.pill-border-orange.bg-orange 篩選
.filter-form
	.select-wrap
		mixin SelectBox(name, options)
			.select-box
				.select-box__current(tabindex="1")
					each option in options
						.select-box__value
							input.select-box__input(type="radio" id=option.id value=option.value name=name checked)
							p.select-box__input-text #{option.name}
					img.select-box__icon(src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
				ul.select-box__list
					each option in options
						li
							label.select-box__option(for=option.id aria-hidden="true") #{option.name}

		+SelectBox('特色', [
			{name: '繪本特色：選項', value: '', id: 'c1'}, 
			{name: '學生創作', value: '學生創作', id: 'c2'}, 
			{name: '地方特色', value: '地方特色', id: 'c3'}, 
			{name: '優賞作品', value: '優賞作品', id: 'c4'}
		])
		mixin SelectBox(name, options)
			.select-box
				.select-box__current(tabindex="1")
					each option in options
						.select-box__value
							input.select-box__input(type="radio" id=option.id value=option.value name=name checked)
							p.select-box__input-text #{option.name}
					img.select-box__icon(src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
				ul.select-box__list
					each option in options
						li
							label.select-box__option(for=option.id aria-hidden) #{option.name}

		+SelectBox('主題', [
			{name: '繪本主題：選項', value: '', id: 'theme1'}, 
			{name: '人權教育', value: '人權教育', id: 'theme2'}, 
			{name: '健康與體育', value: '健康與體育', id: 'theme3'}, 
			{name: '多元文化教育', value: '多元文化教育', id: 'theme4'},
			{name: '家政教育', value: '家政教育', id: 'theme5'},
			{name: '性別平等', value: '性別平等', id: 'theme6'},
			{name: '數學', value: '數學', id: 'theme7'},
			{name: '家政教育', value: '家政教育', id: 'theme8'}
		])
		mixin SelectBox3(name, options)
			.select-box
				.select-box__current(tabindex="1")
					each option in options
						.select-box__value
							input.select-box__input(type="radio" id=option.id value=option.value name=name checked)
							p.select-box__input-text #{option.name}
					img.select-box__icon(src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
				ul.select-box__list
					each option in options
						li
							label.select-box__option(for=option.id aria-hidden) #{option.name}

		+SelectBox3('適讀年齡', [
			{name: '適讀年齡：選項', value: '', id: 'age1'}, 
			{name: '0-6歲', value: '0-6歲', id: 'age2'}, 
			{name: '7-9歲', value: '7-9歲', id: 'age3'}, 
			{name: '10-12歲', value: '10-12歲', id: 'age4'},
			{name: '13-15歲', value: '13-15歲', id: 'age5'},
			{name: '16歲以上', value: '16歲以上', id: 'age6'},
			{name: '全齡適用', value: '全齡適用', id: 'age7'}
		])
		mixin SelectBox4(name, options)
			.select-box
				.select-box__current(tabindex="1")
					each option in options
						.select-box__value
							input.select-box__input(type="radio" id=option.id value=option.value name=name checked)
							p.select-box__input-text #{option.name}
					img.select-box__icon(src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
				ul.select-box__list
					each option in options
						li
							label.select-box__option(for=option.id aria-hidden) #{option.name}

		+SelectBox4('上架日期', [
			{name: '上架日期：選項', value: '', id: 'year1'}, 
			{name: '2011', value: '2011', id: 'year2'}, 
			{name: '2012', value: '2012', id: 'year3'}, 
			{name: '2013', value: '2013', id: 'year4'},
			{name: '2014', value: '2014', id: 'year5'},
			{name: '2015', value: '2015', id: 'year6'},
			{name: '2016', value: '2016', id: 'year7'},
			{name: '2017', value: '2017', id: 'year8'},
			{name: '2018', value: '2018', id: 'year9'},
			{name: '2019', value: '2019', id: 'year10'}
		])
		mixin SelectBox5(name, options)
			.select-box
				.select-box__current(tabindex="1")
					each option in options
						.select-box__value
							input.select-box__input(type="radio" id=option.id value=option.value name=name checked)
							p.select-box__input-text #{option.name}
					img.select-box__icon(src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
				ul.select-box__list
					each option in options
						li
							label.select-box__option(for=option.id aria-hidden) #{option.name}

		+SelectBox5('語言', [
			{name: '語言：選項', value: '', id: 'language1'}, 
			{name: '正體中文', value: '正體中文', id: 'language2'}, 
			{name: '英文', value: '英文', id: 'language3'}
		])
		mixin SelectBox5(name, options)
			.select-box
				.select-box__current(tabindex="1")
					each option in options
						.select-box__value
							input.select-box__input(type="radio" id=option.id value=option.value name=name checked)
							p.select-box__input-text #{option.name}
					img.select-box__icon(src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true")
				ul.select-box__list
					each option in options
						li
							label.select-box__option(for=option.id aria-hidden) #{option.name}

		+SelectBox5('來源單位', [
			{name: '來源單位：選項', value: '', id: 'source1'}, 
			{name: '法務部矯正署', value: '法務部矯正署', id: 'source2'}, 
			{name: '國立臺灣藝術教育館', value: '國立臺灣藝術教育館', id: 'source3'}, 
			{name: '斗六會本部', value: '斗六會本部', id: 'source4'}, 
			{name: '國立中壢高級家事商業職業學校', value: '國立中壢高級家事商業職業學校', id: 'source5'}
		])
	.filter-right-box
		.filter-checkbox-wrap
			input#animation-check.filter-checkbox(type="checkbox" value="animation")
			label(for="animation-check") 只要動畫
		button.btn.filter-confirm(type="submit") GO

app/components/all-books-filter.html

<button class="filter-button font-white pill-border-orange bg-orange">篩選</button>
<div class="filter-form">
  <div class="select-wrap">
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="c1" value="" name="特色" checked="checked"/>
              <p class="select-box__input-text">繪本特色：選項</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="c2" value="學生創作" name="特色" checked="checked"/>
              <p class="select-box__input-text">學生創作</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="c3" value="地方特色" name="特色" checked="checked"/>
              <p class="select-box__input-text">地方特色</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="c4" value="優賞作品" name="特色" checked="checked"/>
              <p class="select-box__input-text">優賞作品</p>
            </div><img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
          </div>
          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="c1" aria-hidden="true">繪本特色：選項</label>
            </li>
            <li>
              <label class="select-box__option" for="c2" aria-hidden="true">學生創作</label>
            </li>
            <li>
              <label class="select-box__option" for="c3" aria-hidden="true">地方特色</label>
            </li>
            <li>
              <label class="select-box__option" for="c4" aria-hidden="true">優賞作品</label>
            </li>
          </ul>
        </div>
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme1" value="" name="主題" checked="checked"/>
              <p class="select-box__input-text">繪本主題：選項</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme2" value="人權教育" name="主題" checked="checked"/>
              <p class="select-box__input-text">人權教育</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme3" value="健康與體育" name="主題" checked="checked"/>
              <p class="select-box__input-text">健康與體育</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme4" value="多元文化教育" name="主題" checked="checked"/>
              <p class="select-box__input-text">多元文化教育</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme5" value="家政教育" name="主題" checked="checked"/>
              <p class="select-box__input-text">家政教育</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme6" value="性別平等" name="主題" checked="checked"/>
              <p class="select-box__input-text">性別平等</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme7" value="數學" name="主題" checked="checked"/>
              <p class="select-box__input-text">數學</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="theme8" value="家政教育" name="主題" checked="checked"/>
              <p class="select-box__input-text">家政教育</p>
            </div><img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
          </div>
          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="theme1" aria-hidden="aria-hidden">繪本主題：選項</label>
            </li>
            <li>
              <label class="select-box__option" for="theme2" aria-hidden="aria-hidden">人權教育</label>
            </li>
            <li>
              <label class="select-box__option" for="theme3" aria-hidden="aria-hidden">健康與體育</label>
            </li>
            <li>
              <label class="select-box__option" for="theme4" aria-hidden="aria-hidden">多元文化教育</label>
            </li>
            <li>
              <label class="select-box__option" for="theme5" aria-hidden="aria-hidden">家政教育</label>
            </li>
            <li>
              <label class="select-box__option" for="theme6" aria-hidden="aria-hidden">性別平等</label>
            </li>
            <li>
              <label class="select-box__option" for="theme7" aria-hidden="aria-hidden">數學</label>
            </li>
            <li>
              <label class="select-box__option" for="theme8" aria-hidden="aria-hidden">家政教育</label>
            </li>
          </ul>
        </div>
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="age1" value="" name="適讀年齡" checked="checked"/>
              <p class="select-box__input-text">適讀年齡：選項</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="age2" value="0-6歲" name="適讀年齡" checked="checked"/>
              <p class="select-box__input-text">0-6歲</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="age3" value="7-9歲" name="適讀年齡" checked="checked"/>
              <p class="select-box__input-text">7-9歲</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="age4" value="10-12歲" name="適讀年齡" checked="checked"/>
              <p class="select-box__input-text">10-12歲</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="age5" value="13-15歲" name="適讀年齡" checked="checked"/>
              <p class="select-box__input-text">13-15歲</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="age6" value="16歲以上" name="適讀年齡" checked="checked"/>
              <p class="select-box__input-text">16歲以上</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="age7" value="全齡適用" name="適讀年齡" checked="checked"/>
              <p class="select-box__input-text">全齡適用</p>
            </div><img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
          </div>
          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="age1" aria-hidden="aria-hidden">適讀年齡：選項</label>
            </li>
            <li>
              <label class="select-box__option" for="age2" aria-hidden="aria-hidden">0-6歲</label>
            </li>
            <li>
              <label class="select-box__option" for="age3" aria-hidden="aria-hidden">7-9歲</label>
            </li>
            <li>
              <label class="select-box__option" for="age4" aria-hidden="aria-hidden">10-12歲</label>
            </li>
            <li>
              <label class="select-box__option" for="age5" aria-hidden="aria-hidden">13-15歲</label>
            </li>
            <li>
              <label class="select-box__option" for="age6" aria-hidden="aria-hidden">16歲以上</label>
            </li>
            <li>
              <label class="select-box__option" for="age7" aria-hidden="aria-hidden">全齡適用</label>
            </li>
          </ul>
        </div>
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year1" value="" name="上架日期" checked="checked"/>
              <p class="select-box__input-text">上架日期：選項</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year2" value="2011" name="上架日期" checked="checked"/>
              <p class="select-box__input-text">2011</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year3" value="2012" name="上架日期" checked="checked"/>
              <p class="select-box__input-text">2012</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year4" value="2013" name="上架日期" checked="checked"/>
              <p class="select-box__input-text">2013</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year5" value="2014" name="上架日期" checked="checked"/>
              <p class="select-box__input-text">2014</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year6" value="2015" name="上架日期" checked="checked"/>
              <p class="select-box__input-text">2015</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year7" value="2016" name="上架日期" checked="checked"/>
              <p class="select-box__input-text">2016</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year8" value="2017" name="上架日期" checked="checked"/>
              <p class="select-box__input-text">2017</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year9" value="2018" name="上架日期" checked="checked"/>
              <p class="select-box__input-text">2018</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="year10" value="2019" name="上架日期" checked="checked"/>
              <p class="select-box__input-text">2019</p>
            </div><img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
          </div>
          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="year1" aria-hidden="aria-hidden">上架日期：選項</label>
            </li>
            <li>
              <label class="select-box__option" for="year2" aria-hidden="aria-hidden">2011</label>
            </li>
            <li>
              <label class="select-box__option" for="year3" aria-hidden="aria-hidden">2012</label>
            </li>
            <li>
              <label class="select-box__option" for="year4" aria-hidden="aria-hidden">2013</label>
            </li>
            <li>
              <label class="select-box__option" for="year5" aria-hidden="aria-hidden">2014</label>
            </li>
            <li>
              <label class="select-box__option" for="year6" aria-hidden="aria-hidden">2015</label>
            </li>
            <li>
              <label class="select-box__option" for="year7" aria-hidden="aria-hidden">2016</label>
            </li>
            <li>
              <label class="select-box__option" for="year8" aria-hidden="aria-hidden">2017</label>
            </li>
            <li>
              <label class="select-box__option" for="year9" aria-hidden="aria-hidden">2018</label>
            </li>
            <li>
              <label class="select-box__option" for="year10" aria-hidden="aria-hidden">2019</label>
            </li>
          </ul>
        </div>
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="language1" value="" name="語言" checked="checked"/>
              <p class="select-box__input-text">語言：選項</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="language2" value="正體中文" name="語言" checked="checked"/>
              <p class="select-box__input-text">正體中文</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="language3" value="英文" name="語言" checked="checked"/>
              <p class="select-box__input-text">英文</p>
            </div><img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
          </div>
          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="language1" aria-hidden="aria-hidden">語言：選項</label>
            </li>
            <li>
              <label class="select-box__option" for="language2" aria-hidden="aria-hidden">正體中文</label>
            </li>
            <li>
              <label class="select-box__option" for="language3" aria-hidden="aria-hidden">英文</label>
            </li>
          </ul>
        </div>
        <div class="select-box">
          <div class="select-box__current" tabindex="1">
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="source1" value="" name="來源單位" checked="checked"/>
              <p class="select-box__input-text">來源單位：選項</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="source2" value="法務部矯正署" name="來源單位" checked="checked"/>
              <p class="select-box__input-text">法務部矯正署</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="source3" value="國立臺灣藝術教育館" name="來源單位" checked="checked"/>
              <p class="select-box__input-text">國立臺灣藝術教育館</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="source4" value="斗六會本部" name="來源單位" checked="checked"/>
              <p class="select-box__input-text">斗六會本部</p>
            </div>
            <div class="select-box__value">
              <input class="select-box__input" type="radio" id="source5" value="國立中壢高級家事商業職業學校" name="來源單位" checked="checked"/>
              <p class="select-box__input-text">國立中壢高級家事商業職業學校</p>
            </div><img class="select-box__icon" src="https://cdn.onlinewebfonts.com/svg/img_295694.svg" alt="Arrow Icon" aria-hidden="true"/>
          </div>
          <ul class="select-box__list">
            <li>
              <label class="select-box__option" for="source1" aria-hidden="aria-hidden">來源單位：選項</label>
            </li>
            <li>
              <label class="select-box__option" for="source2" aria-hidden="aria-hidden">法務部矯正署</label>
            </li>
            <li>
              <label class="select-box__option" for="source3" aria-hidden="aria-hidden">國立臺灣藝術教育館</label>
            </li>
            <li>
              <label class="select-box__option" for="source4" aria-hidden="aria-hidden">斗六會本部</label>
            </li>
            <li>
              <label class="select-box__option" for="source5" aria-hidden="aria-hidden">國立中壢高級家事商業職業學校</label>
            </li>
          </ul>
        </div>
  </div>
  <div class="filter-right-box">
    <div class="filter-checkbox-wrap">
      <input class="filter-checkbox" id="animation-check" type="checkbox" value="animation"/>
      <label for="animation-check">只要動畫</label>
    </div>
    <button class="btn filter-confirm" type="submit">GO</button>
  </div>
</div>
