app/components/book-card.html
<a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
  <p class="book-lang font-white font-medium bg-blue">英</p><img class="border-bottom border-gray" src="images/book1.jpg"/>
  <div class="card-body">
    <h5 class="card-title font-orange">Dylan's Teeth</h5>
  </div></a>

app/pug/components/book-card.pug
a(href="book-single.html").card.book-card.margin-lr-10px.margin-bt-20px
	p.book-lang.font-white.font-medium.bg-blue 英
	img(src="images/book1.jpg").border-bottom.border-gray
	.card-body
		h5.card-title.font-orange Dylan's Teeth
