app/components/faq-template.html

<div class="faq" id="faq">
  <div class="card">
    <div class="card-header" id="q1">
      <h5>
        <button class="btn collapsed" data-toggle="collapse" data-target="#a1" aria-expanded="false" aria-controls="a1">Q：使用「圓夢繪本資料庫」需要申請帳密嗎？</button>
      </h5>
    </div>
    <div class="collapse" id="a1" aria-labelledby="q1" data-parent="#faq">
      <div class="card-body">
        <div class="faq-answer">
          <div>
            <p>使用本資料庫，無需另外申請帳號密碼，您只要進到<a href="https://storybook.nlpi.edu.tw" class="font-blue" target="_blank">圓夢繪本資料庫</a>(<a href="https://storybook.nlpi.edu.tw" class="font-blue" target="_blank">https://storybook.nlpi.edu.tw</a>)，或至<a href="https://www.nlpi.edu.tw" class="font-blue" target="_blank">國立公共資訊圖書館官網</a>(<a href="https://www.nlpi.edu.tw" class="font-blue" target="_blank">https://www.nlpi.edu.tw</a>)，再點選<a href="https://storybook.nlpi.edu.tw" class="font-blue" target="_blank">圓夢繪本資料庫</a>(<a href="https://storybook.nlpi.edu.tw" class="font-blue" target="_blank">https://storybook.nlpi.edu.tw</a>)，即可進入使用。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="q2">
      <h5>
        <button class="btn collapsed" data-toggle="collapse" data-target="#a2" aria-expanded="false" aria-controls="a2">Q：圓夢繪本資料庫收錄哪些類型的繪本？</button>
      </h5>
    </div>
    <div class="collapse" id="a2" aria-labelledby="q2" data-parent="#faq">
      <div class="card-body">
        <div class="faq-answer">
          <div>
            <p>圓夢繪本資料庫以「原創精神」為特色，收錄「得獎繪本」、「地方特色繪本」及學生創作的「學生繪本」。並且配合多元學習，提供以十二年國教領域主題或議題的方式來篩選給小朋友閱讀的繪本。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="q3">
      <h5>
        <button class="btn collapsed" data-toggle="collapse" data-target="#a3" aria-expanded="false" aria-controls="a3">Q：「圓夢繪本資料庫」，是否可在行動載具(如平板)上使用？</button>
      </h5>
    </div>
    <div class="collapse" id="a3" aria-labelledby="q3" data-parent="#faq">
      <div class="card-body">
        <div class="faq-answer">
          <div>
            <p>可以，開啟平板或手機的網頁瀏覽器，即可使用。若使用的是蘋果iOS系統網頁瀏覽器時，開啟繪本後，須記得按下「同意載入繪本」，才會繼續載入資料。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="q4">
      <h5>
        <button class="btn collapsed" data-toggle="collapse" data-target="#a4" aria-expanded="false" aria-controls="a4">Q：將繪本授權給圓夢繪本資料庫，對我的權利有什麼影響？</button>
      </h5>
    </div>
    <div class="collapse" id="a4" aria-labelledby="q4" data-parent="#faq">
      <div class="card-body">
        <div class="faq-answer">
          <div>
            <p>本資料庫請創作者非專屬授權，本館僅有數位化後之作品播映、展示與典藏、閱讀與學習推廣之利用，其餘權利仍歸屬著作權人。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="q5">
      <h5>
        <button class="btn collapsed" data-toggle="collapse" data-target="#a5" aria-expanded="false" aria-controls="a5">Q：這個資料庫是由誰成立的？</button>
      </h5>
    </div>
    <div class="collapse" id="a5" aria-labelledby="q5" data-parent="#faq">
      <div class="card-body">
        <div class="faq-answer">
          <div>
            <p>圓夢繪本資料庫由國立公共資訊圖書館(https://www.nlpi.edu.tw)於100年12月創建上線，初期典藏學生創作繪本，103年起擴大收錄各類型原創繪本作品，合作單位詳見「關於我們」。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="q6">
      <h5>
        <button class="btn collapsed" data-toggle="collapse" data-target="#a6" aria-expanded="false" aria-controls="a6">Q：我想了解如何參與這個資料庫的繪本典藏合作案，該如何聯繫？</button>
      </h5>
    </div>
    <div class="collapse" id="a6" aria-labelledby="q6" data-parent="#faq">
      <div class="card-body">
        <div class="faq-answer">
          <div>
            <p>您可以來電04-2262-5100分機123，或來信<a href="mailto:avedu@nlpi.edu.tw" class="font-blue">avedu@nlpi.edu.tw</a>給我們，我們將與您聯繫，請務必註明您的單位名稱、聯絡人姓名、電話與電子郵件。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="q7">
      <h5>
        <button class="btn collapsed" data-toggle="collapse" data-target="#a7" aria-expanded="false" aria-controls="a7">Q：我是學校（教師），如何加入「圓夢繪本資料庫」？</button>
      </h5>
    </div>
    <div class="collapse" id="a7" aria-labelledby="q7" data-parent="#faq">
      <div class="card-body">
        <div class="faq-answer">
          <div>
            <p>在「學生繪本」的主題下，本資料庫收錄校方開設至少一學期的繪本相關製作課程後，由學生完成並經校方（教師）選送的繪本作品。相關辦法詳見：</p>
            <p><a href="" target="_blank" class="font-blue">「國立公共資訊圖書館學生創作繪本數位化典藏計畫作業要點」</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="q8">
      <h5>
        <button class="btn collapsed" data-toggle="collapse" data-target="#a8" aria-expanded="false" aria-controls="a8">Q：學校學生進行創作繪本應注意事項？</button>
      </h5>
    </div>
    <div class="collapse" id="a8" aria-labelledby="q8" data-parent="#faq">
      <div class="card-body">
        <div class="faq-answer">
          <div>
            <p>開始進行繪本創作前，建議考量下面事項：</p>
            <p>1. 紙張大小與比例。繪本原稿尺寸以符合A4比例最佳，印製繪本效果亦會較好。小於A4的原稿，排版時被放大後，容易暴露原作的缺點。</p>
            <p>2. 進行圖畫創作時，靠邊緣處需預留安全距離。</p>
            <p>3. 文字創作時，要使用正確的標準符號，並注意句子是否通順。</p>
            <p>4. 建議圖文分離。文字盡量不要直接畫上圖面，否則若有錯難以修正。</p>
            <p>- 創作者應提供WORD或TXT檔格式之繪本內容文字，並應標記文字內容對應之頁面。頁面順序為原稿之順序。(注意：每頁文字請勿太多，請考慮該頁畫面上可放置文字之空間大小。尤其加上拼音注音後，若文字過多將會覆蓋破壞原稿畫面內容，或為了塞進文字造成文字過小無法閱讀)</p>
            <p>5.若是創作英文繪本，需再考量英文的正確性，如以中文直接翻譯，容易有錯誤。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="q9">
      <h5>
        <button class="btn collapsed" data-toggle="collapse" data-target="#a9" aria-expanded="false" aria-controls="a9">Q：我是合作單位，如何得知被典藏繪本的使用情形或統計？</button>
      </h5>
    </div>
    <div class="collapse" id="a9" aria-labelledby="q9" data-parent="#faq">
      <div class="card-body">
        <div class="faq-answer">
          <div>
            <p>您可以來信<a href="mailto:avedu@nlpi.edu.tw" class="font-blue">avedu@nlpi.edu.tw</a>給我們，我們將提供相關資料給您。請務必註明您的單位名稱、聯絡人姓名與電子郵件。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

app/pug/components/faq-template.pug
#faq.faq
	.card
		#q1.card-header
			h5
				button.btn.collapsed(data-toggle="collapse" data-target="#a1" aria-expanded="false" aria-controls="a1") Q：使用「圓夢繪本資料庫」需要申請帳密嗎？
		#a1.collapse(aria-labelledby="q1" data-parent="#faq")
			.card-body
				.faq-answer
					div
						p 使用本資料庫，無需另外申請帳號密碼，您只要進到<a href="https://storybook.nlpi.edu.tw" class="font-blue" target="_blank">圓夢繪本資料庫</a>(<a href="https://storybook.nlpi.edu.tw" class="font-blue" target="_blank">https://storybook.nlpi.edu.tw</a>)，或至<a href="https://www.nlpi.edu.tw" class="font-blue" target="_blank">國立公共資訊圖書館官網</a>(<a href="https://www.nlpi.edu.tw" class="font-blue" target="_blank">https://www.nlpi.edu.tw</a>)，再點選<a href="https://storybook.nlpi.edu.tw" class="font-blue" target="_blank">圓夢繪本資料庫</a>(<a href="https://storybook.nlpi.edu.tw" class="font-blue" target="_blank">https://storybook.nlpi.edu.tw</a>)，即可進入使用。
	.card
		#q2.card-header
			h5
				button.btn.collapsed(data-toggle="collapse" data-target="#a2" aria-expanded="false" aria-controls="a2") Q：圓夢繪本資料庫收錄哪些類型的繪本？
		#a2.collapse(aria-labelledby="q2" data-parent="#faq")
			.card-body
				.faq-answer
					div
						p 圓夢繪本資料庫以「原創精神」為特色，收錄「得獎繪本」、「地方特色繪本」及學生創作的「學生繪本」。並且配合多元學習，提供以十二年國教領域主題或議題的方式來篩選給小朋友閱讀的繪本。
	.card
		#q3.card-header
			h5
				button.btn.collapsed(data-toggle="collapse" data-target="#a3" aria-expanded="false" aria-controls="a3") Q：「圓夢繪本資料庫」，是否可在行動載具(如平板)上使用？
		#a3.collapse(aria-labelledby="q3" data-parent="#faq")
			.card-body
				.faq-answer
					div
						p 可以，開啟平板或手機的網頁瀏覽器，即可使用。若使用的是蘋果iOS系統網頁瀏覽器時，開啟繪本後，須記得按下「同意載入繪本」，才會繼續載入資料。
	.card
		#q4.card-header
			h5
				button.btn.collapsed(data-toggle="collapse" data-target="#a4" aria-expanded="false" aria-controls="a4") Q：將繪本授權給圓夢繪本資料庫，對我的權利有什麼影響？
		#a4.collapse(aria-labelledby="q4" data-parent="#faq")
			.card-body
				.faq-answer
					div
						p 本資料庫請創作者非專屬授權，本館僅有數位化後之作品播映、展示與典藏、閱讀與學習推廣之利用，其餘權利仍歸屬著作權人。
	.card
		#q5.card-header
			h5
				button.btn.collapsed(data-toggle="collapse" data-target="#a5" aria-expanded="false" aria-controls="a5") Q：這個資料庫是由誰成立的？
		#a5.collapse(aria-labelledby="q5" data-parent="#faq")
			.card-body
				.faq-answer
					div
						p 圓夢繪本資料庫由國立公共資訊圖書館(https://www.nlpi.edu.tw)於100年12月創建上線，初期典藏學生創作繪本，103年起擴大收錄各類型原創繪本作品，合作單位詳見「關於我們」。
	.card
		#q6.card-header
			h5
				button.btn.collapsed(data-toggle="collapse" data-target="#a6" aria-expanded="false" aria-controls="a6") Q：我想了解如何參與這個資料庫的繪本典藏合作案，該如何聯繫？
		#a6.collapse(aria-labelledby="q6" data-parent="#faq")
			.card-body
				.faq-answer
					div
						p 您可以來電04-2262-5100分機123，或來信<a href="mailto:avedu@nlpi.edu.tw" class="font-blue">avedu@nlpi.edu.tw</a>給我們，我們將與您聯繫，請務必註明您的單位名稱、聯絡人姓名、電話與電子郵件。
	.card
		#q7.card-header
			h5
				button.btn.collapsed(data-toggle="collapse" data-target="#a7" aria-expanded="false" aria-controls="a7") Q：我是學校（教師），如何加入「圓夢繪本資料庫」？
		#a7.collapse(aria-labelledby="q7" data-parent="#faq")
			.card-body
				.faq-answer
					div
						p 在「學生繪本」的主題下，本資料庫收錄校方開設至少一學期的繪本相關製作課程後，由學生完成並經校方（教師）選送的繪本作品。相關辦法詳見：
						p
							<a href="" target="_blank" class="font-blue">「國立公共資訊圖書館學生創作繪本數位化典藏計畫作業要點」</a>
	.card
		#q8.card-header
			h5
				button.btn.collapsed(data-toggle="collapse" data-target="#a8" aria-expanded="false" aria-controls="a8") Q：學校學生進行創作繪本應注意事項？
		#a8.collapse(aria-labelledby="q8" data-parent="#faq")
			.card-body
				.faq-answer
					div
						p 開始進行繪本創作前，建議考量下面事項：
						p 1. 紙張大小與比例。繪本原稿尺寸以符合A4比例最佳，印製繪本效果亦會較好。小於A4的原稿，排版時被放大後，容易暴露原作的缺點。
						p 2. 進行圖畫創作時，靠邊緣處需預留安全距離。
						p 3. 文字創作時，要使用正確的標準符號，並注意句子是否通順。
						p 4. 建議圖文分離。文字盡量不要直接畫上圖面，否則若有錯難以修正。
						p - 創作者應提供WORD或TXT檔格式之繪本內容文字，並應標記文字內容對應之頁面。頁面順序為原稿之順序。(注意：每頁文字請勿太多，請考慮該頁畫面上可放置文字之空間大小。尤其加上拼音注音後，若文字過多將會覆蓋破壞原稿畫面內容，或為了塞進文字造成文字過小無法閱讀)
						p 5.若是創作英文繪本，需再考量英文的正確性，如以中文直接翻譯，容易有錯誤。
	.card
		#q9.card-header
			h5
				button.btn.collapsed(data-toggle="collapse" data-target="#a9" aria-expanded="false" aria-controls="a9") Q：我是合作單位，如何得知被典藏繪本的使用情形或統計？
		#a9.collapse(aria-labelledby="q9" data-parent="#faq")
			.card-body
				.faq-answer
					div
						p 您可以來信<a href="mailto:avedu@nlpi.edu.tw" class="font-blue">avedu@nlpi.edu.tw</a>給我們，我們將提供相關資料給您。請務必註明您的單位名稱、聯絡人姓名與電子郵件。
