app/components/footer.html

<div class="bg-border-gray" id="footer">
  <div class="footer-top margin-bt-20px">
    <div class="footer-logo margin-bt-10px"><img src="images/libLogo.png"/></div>
    <div class="footer-info">
      <p class="no-bt-margin margin-bt-10px">諮詢電話：<span>04-2262-5100#123</span></p>
      <p class="no-bt-margin margin-bt-10px">諮詢信箱：<a href="mailto:avedu@nlpi.edu.tw">avedu@nlpi.edu.tw</a></p>
      <p class="no-bt-margin margin-bt-10px">累計拜訪人次：<span class="font-orange">11111111</span></p>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="no-bt-margin">Copyright © 2017 國立公共資訊圖書館 All Right Reserved</p>
  </div>
</div>

app/pug/components/footer.pug
#footer.bg-border-gray
	.footer-top.margin-bt-20px
		.footer-logo.margin-bt-10px
			img(src="images/libLogo.png")
		.footer-info
			p.no-bt-margin.margin-bt-10px 諮詢電話：
				span 04-2262-5100#123
			p.no-bt-margin.margin-bt-10px 諮詢信箱：
				a(href="mailto:avedu@nlpi.edu.tw") avedu@nlpi.edu.tw
			p.no-bt-margin.margin-bt-10px 累計拜訪人次：
				span.font-orange 11111111
	.footer-bottom
		p.no-bt-margin Copyright © 2017 國立公共資訊圖書館 All Right Reserved
