app/pug/components/header.pug
.menu-aside
	nav.header-wrap.navbar.navbar-light.navbar-expand-lg.btco-hover-menu.pd-1em.flex-column
		.logo.margin-bt-20px
			a(href="index.html")
				img(src="images/logo.png")
		#navbarNav.w-100
			ul.nav.flex-column.w-100
				li#accordionNav.nav-item.accordion.w-100
					#navOne
						p.accordion-title.no-bt-margin
							button.btn.btn-link(type="button", data-toggle="collapse", data-target="#menuOne", aria-expanded="true", aria-controls="menuOne").font-black.no-border.font-medium.w-100.align-left.acc-open 繪本瀏覽
					#menuOne.sub-menu.collapse.show(aria-labelledby="navOne", data-parent="#accordionNav")
						#accordionSubMenu.accordion
							#subNavOne
								p.accordion-subtitle.no-bt-margin
									button.btn.btn-link(type="button", data-toggle="collapse", data-target="#subMenuOne", aria-expanded="true", aria-controls="subMenuOne").font-black.no-border 依繪本特色
							#subMenuOne.collapse.show(aria-labelledby="subNavOne", data-parent="#accordionSubMenu")
								.accordionMenu
									a(href="all-books-filter.html").font-black 學生創作
								.accordionMenu
									a(href="#").font-black 地方特色
								.accordionMenu
									a(href="#").font-black 優賞作品
							#subNavTwo
								p.accordion-subtitle.no-bt-margin
									button.btn.btn-link(type="button", data-toggle="collapse", data-target="#subMenuTwo", aria-expanded="false", aria-controls="subMenuTwo").font-black.no-border.collapsed 依繪本主題
							#subMenuTwo.collapse(aria-labelledby="subNavTwo", data-parent="#accordionSubMenu")
								- var menuText = [{text: "人權教育"},{text: "健康與體育"},{text: "多元文化教育"},{text: "家政教育"},{text: "性別平等"},{text: "數學"},{text: "環境教育"},{text: "生活"},{text: "生涯發展教育"},{text: "社會"},{text: "綜合活動"},{text: "自然科學"},{text: "英文"},{text: "藝術與人文"}]
									each text in menuText
										.accordionMenu
											a.font-black(href="#")=text.text
							#subNavThree
								p.accordion-subtitle.no-bt-margin
									button.btn.btn-link(type="button", data-toggle="collapse", data-target="#subMenuThree", aria-expanded="false", aria-controls="subMenuThree").font-black.no-border.collapsed 依適讀年齡
							#subMenuThree.collapse(aria-labelledby="subNavThree", data-parent="#accordionSubMenu")
								- var menuText = [{text: "0-6歲"},{text: "7-9歲"},{text: "10-12歲"},{text: "13-15歲"},{text: "16歲以上"},{text: "全齡適用"}]
									each text in menuText
										.accordionMenu
											a.font-black(href="#")=text.text
							#subNavFour
								p.accordion-subtitle.no-bt-margin
									button.btn.btn-link(type="button", data-toggle="collapse", data-target="#subMenuFour", aria-expanded="false", aria-controls="subMenuFour").font-black.no-border.collapsed 依語言
							#subMenuFour.collapse(aria-labelledby="subNavFour", data-parent="#accordionSubMenu")
								- var menuText = [{text: "正體中文"},{text: "英文"}]
									each text in menuText
										.accordionMenu
											a.font-black(href="#")=text.text
				li.nav-item.w-100
					a.font-black.nav-link.font-small(href="history.html") 瀏覽紀錄
				li.nav-item.w-100
					a.font-black.nav-link.font-small(href="newslist.html") 公告訊息
				li.nav-item.w-100
					a.font-black.nav-link.font-small(href="faq.html") 常見問題
				li.nav-item.w-100
					a.font-black.nav-link.font-small(href="about.html") 關於我們
			.form-inline
				input.form-control.w-100.margin-bt-10px(type="search", placeholder="請輸入關鍵字", aria-label="Search")
				button.btn.nav-search-btn.bg-orange.border-orange.w-100.font-white(type="button") 搜尋
			.award-img.margin-tb-20px
				img(src="images/award.jpg")

app/components/header.html

<div class="menu-aside">
  <nav class="header-wrap navbar navbar-light navbar-expand-lg btco-hover-menu pd-1em flex-column">
    <div class="logo margin-bt-20px"><a href="index.html"><img src="images/logo.png"/></a></div>
    <div class="w-100" id="navbarNav">
      <ul class="nav flex-column w-100">
        <li class="nav-item accordion w-100" id="accordionNav">
          <div id="navOne">
            <p class="accordion-title no-bt-margin">
              <button class="btn btn-link font-black no-border font-medium w-100 align-left acc-open" type="button" data-toggle="collapse" data-target="#menuOne" aria-expanded="true" aria-controls="menuOne">繪本瀏覽</button>
            </p>
          </div>
          <div class="sub-menu collapse show" id="menuOne" aria-labelledby="navOne" data-parent="#accordionNav">
            <div class="accordion" id="accordionSubMenu">
              <div id="subNavOne">
                <p class="accordion-subtitle no-bt-margin">
                  <button class="btn btn-link font-black no-border" type="button" data-toggle="collapse" data-target="#subMenuOne" aria-expanded="true" aria-controls="subMenuOne">依繪本特色</button>
                </p>
              </div>
              <div class="collapse show" id="subMenuOne" aria-labelledby="subNavOne" data-parent="#accordionSubMenu">
                <div class="accordionMenu"><a class="font-black" href="all-books-filter.html">學生創作</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">地方特色</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">優賞作品</a></div>
              </div>
              <div id="subNavTwo">
                <p class="accordion-subtitle no-bt-margin">
                  <button class="btn btn-link font-black no-border collapsed" type="button" data-toggle="collapse" data-target="#subMenuTwo" aria-expanded="false" aria-controls="subMenuTwo">依繪本主題</button>
                </p>
              </div>
              <div class="collapse" id="subMenuTwo" aria-labelledby="subNavTwo" data-parent="#accordionSubMenu">
                <div class="accordionMenu"><a class="font-black" href="#">人權教育</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">健康與體育</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">多元文化教育</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">家政教育</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">性別平等</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">數學</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">環境教育</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">生活</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">生涯發展教育</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">社會</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">綜合活動</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">自然科學</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">英文</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">藝術與人文</a></div>
              </div>
              <div id="subNavThree">
                <p class="accordion-subtitle no-bt-margin">
                  <button class="btn btn-link font-black no-border collapsed" type="button" data-toggle="collapse" data-target="#subMenuThree" aria-expanded="false" aria-controls="subMenuThree">依適讀年齡</button>
                </p>
              </div>
              <div class="collapse" id="subMenuThree" aria-labelledby="subNavThree" data-parent="#accordionSubMenu">
                <div class="accordionMenu"><a class="font-black" href="#">0-6歲</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">7-9歲</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">10-12歲</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">13-15歲</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">16歲以上</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">全齡適用</a></div>
              </div>
              <div id="subNavFour">
                <p class="accordion-subtitle no-bt-margin">
                  <button class="btn btn-link font-black no-border collapsed" type="button" data-toggle="collapse" data-target="#subMenuFour" aria-expanded="false" aria-controls="subMenuFour">依語言</button>
                </p>
              </div>
              <div class="collapse" id="subMenuFour" aria-labelledby="subNavFour" data-parent="#accordionSubMenu">
                <div class="accordionMenu"><a class="font-black" href="#">正體中文</a></div>
                <div class="accordionMenu"><a class="font-black" href="#">英文</a></div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item w-100"><a class="font-black nav-link font-small" href="history.html">瀏覽紀錄</a></li>
        <li class="nav-item w-100"><a class="font-black nav-link font-small" href="newslist.html">公告訊息</a></li>
        <li class="nav-item w-100"><a class="font-black nav-link font-small" href="faq.html">常見問題</a></li>
        <li class="nav-item w-100"><a class="font-black nav-link font-small" href="about.html">關於我們</a></li>
      </ul>
      <div class="form-inline">
        <input class="form-control w-100 margin-bt-10px" type="search" placeholder="請輸入關鍵字" aria-label="Search"/>
        <button class="btn nav-search-btn bg-orange border-orange w-100 font-white" type="button">搜尋</button>
      </div>
      <div class="award-img margin-tb-20px"><img src="images/award.jpg"/></div>
    </div>
  </nav>
</div>
