app/pug/components/index-books.pug
.index-books.margin-tb-20px.pd-tb-1em
	a(href="all-books.html").view-all-books.btn.bg-orange.border.border-orange.font-white.margin-bt-20px 瀏覽全部繪本
	.clearfix
	.index-books-wrap
		include book-card.pug
		include book-card-chi.pug
		include book-card-chi.pug
		include book-card.pug
		include book-card-chi.pug
		include book-card.pug
		include book-card-chi.pug
		include book-card.pug
		include book-card.pug

app/components/index-books.html

<div class="index-books margin-tb-20px pd-tb-1em"><a class="view-all-books btn bg-orange border border-orange font-white margin-bt-20px" href="all-books.html">瀏覽全部繪本</a>
  <div class="clearfix"></div>
  <div class="index-books-wrap"><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-blue">英</p><img class="border-bottom border-gray" src="images/book1.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-orange">中</p><img class="border-bottom border-gray" src="images/book2.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-orange">中</p><img class="border-bottom border-gray" src="images/book2.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-blue">英</p><img class="border-bottom border-gray" src="images/book1.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-orange">中</p><img class="border-bottom border-gray" src="images/book2.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-blue">英</p><img class="border-bottom border-gray" src="images/book1.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-orange">中</p><img class="border-bottom border-gray" src="images/book2.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-blue">英</p><img class="border-bottom border-gray" src="images/book1.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a><a class="card book-card margin-lr-10px margin-bt-20px" href="book-single.html">
      <p class="book-lang font-white font-medium bg-blue">英</p><img class="border-bottom border-gray" src="images/book1.jpg"/>
      <div class="card-body">
        <h5 class="card-title font-orange">Dylan's Teeth</h5>
      </div></a></div>
</div>
