app/components/resources.html

<div class="resources margin-bt-20px"><a href="#">【著色紙】變通<span>下載</span></a>
  <p class="no-bt-margin"><span>提供者</span><span>|</span><span>人</span></p>
  <p class="no-bt-margin"><span>適用年齡</span><span>|</span><span>3-5歲</span></p>
  <p class="no-bt-margin"><span>試用領域</span><span>|</span><span>領域</span></p>
  <p class="no-bt-margin"><span>授權方式</span><span>|</span><span><img src="images/cc_by.png"/></span></p>
</div>

app/pug/components/resources.pug
.resources.margin-bt-20px
	a(href="#") 【著色紙】變通
		span 下載
	p.no-bt-margin
		span 提供者
		span |
		span 人
	p.no-bt-margin
		span 適用年齡
		span |
		span 3-5歲
	p.no-bt-margin
		span 試用領域
		span |
		span 領域
	p.no-bt-margin
		span 授權方式
		span |
		span
			img(src="images/cc_by.png")
