app/pug/components/single-book-bottom-template.pug
.book-summary
	p 這個故事以變通兩字貫穿全部，主角鐵匠因為過於專注工作而導致孤獨。直到他遇到貴人，才從職業的迷思中驚醒。 （本書由玉山文教基金會106年贊助印製）
ul#singleBookBottom.nav.nav-tabs(role="tablist")
	li.nav-item
		a#tab-two.nav-link.active(data-toggle="tab", href="#content-two", role="tab", aria-controls="content-two", aria-selected="false") 相關學習資源
	li.nav-item
		a#tab-one.nav-link(data-toggle="tab", href="#content-one", role="tab", aria-controls="content-one", aria-selected="true") 讀者閱讀心得
#singleBookBottomContent.tab-content.single-book-bottom-tab-content
	#content-one.single-book-tab.tab-pane.fade(role="tabpanel", aria-labelledby="content-one")
		.single-book-tab__content
			p.no-bt-margin "閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得"
			.divider.margin-tb-20px
			p.no-bt-margin "閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得"
	#content-two.single-book-tab.tab-pane.fade.show.active(role="tabpanel", aria-labelledby="content-two")
		.single-book-tab__content
			.resources-wrap
				include resources.pug
				include resources.pug

app/components/single-book-bottom-template.html

<div class="book-summary">
  <p>這個故事以變通兩字貫穿全部，主角鐵匠因為過於專注工作而導致孤獨。直到他遇到貴人，才從職業的迷思中驚醒。 （本書由玉山文教基金會106年贊助印製）</p>
</div>
<ul class="nav nav-tabs" id="singleBookBottom" role="tablist">
  <li class="nav-item"><a class="nav-link active" id="tab-two" data-toggle="tab" href="#content-two" role="tab" aria-controls="content-two" aria-selected="false">相關學習資源</a></li>
  <li class="nav-item"><a class="nav-link" id="tab-one" data-toggle="tab" href="#content-one" role="tab" aria-controls="content-one" aria-selected="true">讀者閱讀心得</a></li>
</ul>
<div class="tab-content single-book-bottom-tab-content" id="singleBookBottomContent">
  <div class="single-book-tab tab-pane fade" id="content-one" role="tabpanel" aria-labelledby="content-one">
    <div class="single-book-tab__content">
      <p class="no-bt-margin">"閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得"</p>
      <div class="divider margin-tb-20px"></div>
      <p class="no-bt-margin">"閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得閱讀心得"</p>
    </div>
  </div>
  <div class="single-book-tab tab-pane fade show active" id="content-two" role="tabpanel" aria-labelledby="content-two">
    <div class="single-book-tab__content">
      <div class="resources-wrap">
        <div class="resources margin-bt-20px"><a href="#">【著色紙】變通<span>下載</span></a>
          <p class="no-bt-margin"><span>提供者</span><span>|</span><span>人</span></p>
          <p class="no-bt-margin"><span>適用年齡</span><span>|</span><span>3-5歲</span></p>
          <p class="no-bt-margin"><span>試用領域</span><span>|</span><span>領域</span></p>
          <p class="no-bt-margin"><span>授權方式</span><span>|</span><span><img src="images/cc_by.png"/></span></p>
        </div>
        <div class="resources margin-bt-20px"><a href="#">【著色紙】變通<span>下載</span></a>
          <p class="no-bt-margin"><span>提供者</span><span>|</span><span>人</span></p>
          <p class="no-bt-margin"><span>適用年齡</span><span>|</span><span>3-5歲</span></p>
          <p class="no-bt-margin"><span>試用領域</span><span>|</span><span>領域</span></p>
          <p class="no-bt-margin"><span>授權方式</span><span>|</span><span><img src="images/cc_by.png"/></span></p>
        </div>
      </div>
    </div>
  </div>
</div>
